body {
  background-color:#343434;
}

.header {
  font-family: sans-serif;
  font-weight: 500;
  text-align: right;
  background-color: #2f3061;
  color: #DFDFDF;
  border-bottom: solid #007ea7;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;

}

.header-image {
  width: 1170px;
  height: 420px;
  display: block;
  margin: 0px auto;
  padding: 0px;
}


.centered-image {
  width: 1170px;
  height: 420px;
  display: block;
  margin: auto;
}

.text-box {
  font-family: sans-serif;
  text-align: left;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 200px;
  color: #343434;
  width: 1170px;
  display: block;
  margin: auto;
  background-color: white;
  
}


.about-text-box {
  font-family: sans-serif;
  text-align: left;
  padding: 30px;
  /*box-sizing: border-box;*/
  margin-top: 200px;
  color: #343434;
  display: block;
  margin: auto;
  width: 875px;
  background-color: white;
  
}

.links {
  font-family: sans-serif;
  text-align: right;

}

.box-right {
  border-bottom-width: thick;
  margin: 20px;
  box-sizing: border-box;
  float: right;
  background-color: #d1faff;
  width: 325px;
  display: block;
  border-bottom-style: solid;
}

.list-right {
  text-align: right;
}

a, a:visited {
  color:#d1faff;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color:#007ea7;
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

/* Style each of the sides
with a fixed width and height */

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

/* Add animation to the slides */

.slide-wrapper {
   
  /* Calculate the total width on the
basis of number of slides */
  width: calc(728px * 4);
  position: relative;
   
  /* Specify the animation with the
duration and speed */
  animation: slide 10s ease infinite;
}

/* Set the background color
of each of the slides */

/* .slide:nth-child(1) {
  background: green;
}

.slide:nth-child(2) {
  background: pink;
}

.slide:nth-child(3) {
  background: red;
}

.slide:nth-child(4) {
  background: yellow;
} */

/* Define the animation
for the slideshow */

@keyframes slide {
   
  /* Calculate the margin-left for
each of the slides */
  20% {
      margin-left: 0px;
  }
  40% {
      margin-left: calc(-728px * 1);
  }
  60% {
      margin-left: calc(-728px * 2);
  }
  80% {
      margin-left: calc(-728px * 3);
  }
}

.caption {
  color: whitesmoke;
}

.box-color {
  background: black;
  color: white;
  font-weight: 300;
  font-family: monospace;
  text-align: center;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 20px;
}